[user]
  name = JafarAbdi
  email = jafar.uruc@gmail.com
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[credential]
  helper = cache --timeout=7200
[fetch]
  parallel = 0
  prune = true
[pull]
  ff = only
[push]
  default = current
  autoSetupRemote = true
  recurseSubmodules = no
[merge]
  ff = only
[core]
  autoctrlf = input
  excludesfile = ~/myconfigs/git/.gitignore
  attributesFile = ~/myconfigs/git/.gitattributes
  pager = less -+FX
[pack]
  threads = 6
[http]
  sslVerify = false
[branch]
  autosetuprebase = always
[alias]
  br = branch -vv
  dt = difftool -d
  st = status
  sh = -c diff.external=difft show --ext-diff
  df = -c diff.external=difft diff
  pushf = push --force-with-lease
  diffs = diff --staged
  diffl = -c diff.external=difft log -p --ext-diff
  # TODO: Why difft doesn't work? It always shows XXXX-dirty
  diffm = diff --submodule=diff --no-ext-diff
  stash-all = stash save --include-untracked
  # https://git-scm.com/docs/pretty-formats
  rlg = log --color --walk-reflogs --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %gs %Cgreen(%gD) %C(bold blue)<%an>%Creset' --abbrev-commit --date=format:'%a %d.%m.%Y %H:%M'
  rl = reflog --pretty=format:\"%Cred%h%Creset %C(auto)%gd%Creset %C(auto)%gs%C(reset) %C(green)(%cr)%C(reset) %C(bold blue)<%an>%Creset\" --abbrev-commit
  sl = stash list --pretty=format:\"%C(red)%h%C(reset) - %C(bold magenta)%gd%C(reset) %<(70,trunc)%s %C(green)(%cr) %C(bold blue)<%an>%C(reset)\"
  grep-all-commits = "!f() { git grep \"$1\" $(git rev-list --all); }; f"
  clone-single = clone --single-branch
[pager]
  branch = true
[url "ssh://git@github.com/"]
  # pushInsteadOf = https://github.com/
  # Push + Pull
  insteadOf = https://github.com/
  insteadOf = https://www.github.com/
[url "git@github.com:"]
  insteadOf = gh:
[init]
  defaultBranch = main
[submodule]
  recurse = true
[rebase]
	autostash = true
