[user]
  name = JafarAbdi
  email = cafer.abdi@gmail.com
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[credential]
  helper = cache --timeout=7200
[fetch]
  parallel = 0
  prune = true
[pull]
  ff = only
[push]
  default = current
  autoSetupRemote = true
[merge]
  ff = only
[core]
  autoctrlf = input
  excludesfile = ~/myconfigs/git/.gitignore
  pager = less -+FX
[pack]
  threads = 6
[http]
  sslVerify = false
[branch]
  autosetuprebase = always

[alias]
  last = log -1 HEAD
  cc  = !fish --no-config -c 'source ~/.config/fish/conf.d/forgit.plugin.fish && forgit::checkout::commit'
  cb  = !fish --no-config -c 'source ~/.config/fish/conf.d/forgit.plugin.fish && forgit::checkout::branch'
  cf  = !fish --no-config -c 'source ~/.config/fish/conf.d/forgit.plugin.fish && forgit::checkout::file'
  a   = !fish --no-config -c 'source ~/.config/fish/conf.d/forgit.plugin.fish && forgit::add'
  d   = !fish --no-config -c 'source ~/.config/fish/conf.d/forgit.plugin.fish && forgit::diff'
  ssh = !fish --no-config -c 'source ~/.config/fish/conf.d/forgit.plugin.fish && forgit::stash::show'
  lg  = !fish --no-config -c 'source ~/.config/fish/conf.d/forgit.plugin.fish && forgit::log'
  rc  = !fish --no-config -c 'source ~/.config/fish/conf.d/forgit.plugin.fish && forgit::revert::commit'
  hist = log --pretty=\"%h %ad%d | %s\" --date=short --graph --branches --remotes
  squash = !git rebase -i `git rev-list HEAD --not --remotes | tail -1`~1
  greview = !git push origin HEAD:refs/for/master
  undo-commit = reset --soft HEAD^
  unstage = reset HEAD --
  br = branch -vv
  dt = difftool -d
  find = log --abbrev-commit --date local --grep
  st = status
  sh = show --ext-diff
  discard = checkout HEAD --
  abandon = checkout HEAD --
  pushf = push --force-with-lease
  diffs = diff --staged
  stash-all = stash save --include-untracked
  rlg = log --color --walk-reflogs --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %gs %Cgreen(%gD) %C(bold blue)<%an>%Creset' --abbrev-commit --date=format:'%a %d.%m.%Y %H:%M'
  grep-all-commits = "!f() { git grep \"$1\" $(git rev-list --all); }; f"
  # New branch in a Worktree.
  nw = "!f() { git worktree add $1 -b $1; }; f"
  # New branch in a Worktree From a specified branch
  nwf = "!f() { git worktree add $2 -b $2 $1; }; f"
  # Existing branch in a Worktree.
  ew = "!f() { git worktree add $1 $1; }; f"
  # List Worktrees.
  lw = "!f() { git worktree prune && git worktree list; }; f"
  # Remove Worktree.
  rw = "!f() { git worktree remove $1; }; f"
[pager]
  branch = true
[url "ssh://git@github.com/"]
  # pushInsteadOf = https://github.com/
  # Push + Pull
  insteadOf = https://github.com/
[url "git@github.com:"]
  insteadOf = gh:
[init]
  defaultBranch = main
[submodule]
  recurse = true
