[workspace]
name = "myconfigs"
version = "0.1.0"
description = "Add a short description here"
authors = ["JafarAbdi <jafar.uruc@gmail.com>"]
channels = ["conda-forge"]
platforms = ["linux-aarch64", "linux-64", "osx-arm64"]

[tasks]
lint = "pre-commit run -a"

[dependencies]
python = "3.12.*"
requests = "*"
argcomplete = "*"
refurb = "*"
pre-commit = "*"
debugpy = ">=1.8.1,<1.9"
conda-package-handling = ">=2.2.0,<2.3"

[environments]
linters = ["linters"]
python-lsp = ["python-lsp"]
nodejs = ["nodejs"]
cmake-lsp = ["cmake-lsp"]
lsps = ["lsps"]
microcontroller = ["microcontroller"]

[feature.linters.pypi-dependencies]
pylsp-mypy = "*"
ruff = "*"
black = "*"
yamllint = "*"
cmakelang = "*"

[feature.python-lsp.pypi-dependencies]
jedi-language-server = ">=0.45.1,<1"
python-lsp-black = "*"
pylsp-rope = "*"
pyrefly = ">=0.22.0"

[feature.nodejs.dependencies]
nodejs = ">=22.4.1,<22.5"

[feature.cmake-lsp.pypi-dependencies]
cmake-language-server = ">=0.1.10, <0.2"

[feature.lsps.dependencies]
clang-tools = ">=19.1.2,<20"
clang = ">=19.1.2,<20"
efm-langserver = ">=0.0.54,<0.0.55"

[feature.lsps.pypi-dependencies]
jedi = { git = "https://github.com/JafarAbdi/jedi.git", branch = "master" }

[feature.microcontroller.pypi-dependencies]
circup = "*"
