[Unit]
Description=Compiler Explorer

[Service]
Type=simple
TimeoutStartSec=infinity
ExecStart=make dev EXTRA_ARGS='--language C++'
ExecStop=/bin/true
WorkingDirectory=/home/juruc/workspaces/compiler-explorer
StandardOutput=file:/tmp/compiler-explorer.log
StandardError=file:/tmp/compiler-explorer.log

[Install]
WantedBy=default.target
