Cache/
CachedConfigurations/
CachedData/
CachedExtensionVSIXs/
CachedExtensions/
Code Cache/
Cookies
Cookies-journal
Crashpad/
Dictionaries/
GPUCache/
Local Storage/
Network Persistent State
Preferences
Service Worker/
Session Storage/
TransportSecurity
User/History
User/globalStorage
User/sync
User/workspaceStorage
WebStorage/
databases/
languagepacks.json
logs/
machineid
code.lock
